.card {
  display: block;
  top: 80px;
  margin: 0 auto;
  padding: 130px;
  width: 1190px;
  border-radius: 3200px;
  border-width: 20px;
  border-color: #d1f4fa;
  font-family: "Tilt Neon", cursive;
}

.day {
  word-spacing: 3px;
  font-size: 25px;
  left: 14px;
  color: #005792;
  margin: 25px;
  margin-bottom: 0px;
}
.forecast-temp {
  font-size: 14px;
  text-align: center;
  color: #005792;
}
.btn {
  background: #ffe6eb;
  border-radius: 20px;
}
.btn-geo {
  border-color: transparent;
  border-radius: 20px;
  background: #ffe6eb;
}

.location-icon {
  color: #005792;
}
.icon {
  font-size: 45px;
  color: #d1f4fa;
}
.today {
  text-align: center;
  margin: 30px;
}
.city {
  font-size: 34px;
}

.icon-today {
  font-size: 45px;
}

.search {
  left: 30px;
  margin: 30px;
}

.temp-today {
  font-size: 34px;
}

a {
  text-decoration: none;
  color: #005792;
}

.footer {
  display: block;
  margin: 160px 50px 0px;
  font-family: "Tilt Neon", cursive;
}

.weather-description {
  text-transform: capitalize;
}

ul {
  list-style-type: none;
}
li {
  margin-right: 25px;
}
