:root {
  --primary-color: #d8ada0;
  --secondary-color: #ffffff;
  --third-color: #212529;
}
html,
body {
  min-height: 100vh;
}
.card {
  display: block;
  margin: 0 auto;
  padding: 60px;
  max-width: 100%;
  top: 80px;
  width: 90%;
  border-radius: 3000px;
  border-width: 13px;
  border-color: var(--primary-color);
  font-family: "Tilt Neon", cursive;
}
#forecast {
  display: block;
  margin-left: 50px;
}
.forecast-info {
  display: flex;
  flex-direction: row;
}
.forecast-day-info {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

#forecast-temp-min {
  opacity: 0.7;
}
#forecast-day {
  word-spacing: 3px;
  font-size: 25px;
  text-align: center;

  opacity: 0.9;
}

.icon-forecast {
  font-size: 45px;
  display: flex;
}

#weather-search {
  margin-top: 20px;
}
.btn {
  background: var(--primary-color);
  opacity: 0.6;
  border-radius: 20px;
}

.location-icon {
  color: var(--secondary-color);
}

.search {
  left: 65px;
  margin: 30px;
}

#date-today {
  opacity: 0.7;
}
.city,
.today,
#date-today,
#forecast-day {
  color: var(--third-color);
}
.today {
  text-align: center;
  margin: 30px;
}

.city {
  font-size: 34px;
}

.weather-description {
  text-transform: capitalize;
  color: var(--primary-color);
  opacity: 0.7;
}

ul {
  list-style-type: none;
}
li {
  margin-right: 25px;
}

.temp-today {
  font-size: 34px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.btn-geo {
  border-color: transparent;
  border-radius: 20px;
  background: var(--primary-color);
  opacity: 0.6;
}

.footer {
  display: block;
  margin: 160px 50px 0px;
  font-family: "Tilt Neon", cursive;
}
