body {
  background-color: rgb(245, 230, 232, 0.009);
}
.card {
  display: block;
  top: 80px;
  margin: 0 auto;
  padding: 80px;
  width: 1270px;
  border-radius: 3200px;
  border-width: 13px;
  border-color: #d5c6e0;
  font-family: "Tilt Neon", cursive;
}

#icon-forecast {
  margin: 0px;
  position: relative;
  left: 70px;
  top: -8px;
}
.forecast-temp {
  display: block;
  position: relative;
  top: -25px;
  left: -48px;
  font-size: 15px;
  text-align: center;
  color: #d5c6e0;
}

#forecast-temp-min {
  opacity: 0.7;
}
#forecast-day {
  word-spacing: 3px;
  font-size: 25px;
  position: relative;
  left: 70px;
  color: #192a51;
  margin: 25px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.icon-forecast {
  font-size: 45px;
  color: #d1f4fa;
}

#weather-search {
  position: relative;
  bottom: -50px;
}
.btn {
  background: #f5e6e8;
  border-radius: 20px;
}

.location-icon {
  color: #967aa1;
}

.search {
  left: 65px;
  margin: 30px;
}

#date-today {
  color: #967aa1;
}

.today {
  text-align: center;
  margin: 30px;
  color: #192a51;
}

.city {
  font-size: 34px;
  color: #192a51;
}

.weather-description {
  text-transform: capitalize;
}

ul {
  list-style-type: none;
}
li {
  margin-right: 25px;
}

.temp-today {
  font-size: 34px;
}

a {
  text-decoration: none;
  color: #967aa1;
}

.btn-geo {
  border-color: transparent;
  border-radius: 20px;
  background: #f5e6e8;
}

.footer {
  display: block;
  margin: 160px 50px 0px;
  font-family: "Tilt Neon", cursive;
}
